<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Commerce</title>
    {% include 'base/css.html' %}
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='eCommerce'%}
    {% block content%}{% endblock %}
    {% include 'base/js.html' %}
    <script>
      $(document).ready(function(){
        //contact form
        var contactForm = $(".contact-form")
        var contactFormMethod = contactForm.attr("method")
        var contactFormEndpoint = contactForm.attr("action")
        var contactFormSubmitBtn = contactForm.find(".btn btn-default")
        contactForm.submit(function(event){
          event.preventDefault()
          var conatactFormData = contactForm.serialize()
          var thisForm =  $(this)
          $.ajax({
            method:contactFormMethod,
            url:contactFormEndpoint,
            data:conatactFormData,
            success:function(data){
              thisForm[0].reset()
              $.alert({
                title:"Success!",
                content:data.message,
                theme:"modern"
              })
            },
            error:function(error){
                console.log(error);
                var jsonData = error.responseJSON
                var msg = ""
                $.each(jsonData, function(key,value){
                  msg += key + ": " + value[0].message + "<br/>"
                })
              $.alert({
                title:"Oops!",
                content:msg,
                theme:"modern"
              })
            }
          })
        })

        //Auto search
        var searchForm = $(".search-form")
        var searchInput = searchForm.find("[name='q']") //input name=q
        var typingTimer;
        var typingInterval = 1000; //500 ms
        searchInput.keyup(function(event){
          clearTimeout(typingTimer)
          typingTimer = setTimeout(performSearch, typingInterval)
        })
        searchInput.keydown(function(event){
          clearTimeout(typingTimer)
        })
        function performSearch(){
          var query  = searchInput.val()
          window.location.href = '/search/?q=' + query
        }
        //Cart + Add and Remove
        var productForm = $(".form-product-ajax")
        productForm.submit(function(event){
          event.preventDefault();
          console.log("From not sending")
          var thisForm = $(this)
          var actionEndpoint = thisForm.attr("action")
          var httpMethod = thisForm.attr("method")
          var formData = thisForm.serialize()

          $.ajax({
            url:actionEndpoint,
            method:httpMethod,
            data:formData,
            success: function(data){
              var submitSpan = thisForm.find(".submit-span")
              if (data.added){
                submitSpan.html("In Cart <button type='submit' class='btn btn-link'>Remove</button>")
              } else{
                submitSpan.html("<button type='submit' class='btn btn-success'>Add to Cart</button>")
              }
              navbarCount = $(".navbar-cart-count")
              navbarCount.text(data.cartItemCount)
              var currentPath = window.location.href
              if (currentPath.indexOf("cart") != -1){
                refreshCart()
              }
            },
            error: function(errorData) {
              console.log("error");
              console.log(errorData);
              $.alert({
                title:"Oops!",
                content:"An error occured",
                theme:"modern"
              })
            }
          })
        })
        function refreshCart(){
          console.log("inside update cart");
          var cartTable = $(".cart-table")
          var cartBody = cartTable.find(".cart-body")
          var productRows = cartBody.find(".cart-product")
          var refreshCartUrl='/api/cart/';
          var refreshCartMethod = "GET";
          var data = {};
          var currentUrl = window.location.href
          $.ajax({
            url:refreshCartUrl,
            method:refreshCartMethod,
            data:data,
            success:function(data) {
              console.log("in success");
              console.log(data.products);
              var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
              if (data.products.length>0){
                productRows.html(" ")
                i = data.products.length
                $.each(data.products, function(index,value){
                  var newHiddenCartItemRemoveForm = hiddenCartItemRemoveForm.clone()
                  newHiddenCartItemRemoveForm.css("display","block")
                  newHiddenCartItemRemoveForm.find(".cart-item-product-id").val(value.id)
                  cartBody.prepend("<tr><th scope=\"row\">"+ i +"</th><td><a href = '"+ value.url +"'>" + value.name + "</a>" + newHiddenCartItemRemoveForm.html() + "</td><td>"+value.price+"</td></tr>")
                  i--
                })
                cartBody.find(".cart-subtotal").text(data.subtotal)
                cartBody.find(".cart-total").text(data.total)
              }else{
                window.location.href = currentUrl
              }
            },
            error:function() {
              console.log("error");
            }
          })
        }
      })
    </script>
  </body>
</html>
